.linkedin-icon {
    width: var(--icon-size);
    height: var(--icon-size);
    fill: #0077b5;
    margin-left: 5px;
    vertical-align: middle;
}

.github-icon {
    width: var(--icon-size);
    height: var(--icon-size);
    fill: #333;
    margin-left: 5px;
    vertical-align: middle;
}

.email-icon {
    width: var(--icon-size);
    height: var(--icon-size);
    fill: #666;
    margin-left: 5px;
    vertical-align: middle;
}

.folder-icon {
    width: var(--icon-size);
    height: var(--icon-size);
    fill: #333;
    margin-left: 5px;
    vertical-align: middle;
}
