* {
    font-family: var(--font-family) !important;
    font-size: var(--font-size-normal);
    color: var(--font-color);
}

body {
    background-color: var(--background-color);
}

h1,
h2 {
    color: var(--accent-color);
    font-family: var(--font-family);
    font-size: var(--font-size-big);
}

a {
    color: var(--accent-color);
    text-decoration-line: underline;
}

.socials-container > div {
    margin-top: 10px;
}

.page-section {
    margin-left: var(--section-padding);
    margin-right: var(--section-padding);
    margin-top: 1rem;
    margin-bottom: 3rem;
    align-items: center; /* Vertically centers items */

    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0px 0px 0.5rem 0.5rem var(--shadow-color);
    border-radius: 1rem;
}

@media screen and (max-width: 800px) {
    .page-section {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.page-section > div {
    margin-top: 20px;
    margin-bottom: 20px;
}

.centered-information {
    text-align: center;
}

pre > code {
    background-color: var(--background-color);
    font-size: var(--font-size-normal) !important;
}
