:root {
    --font-color: #4a051c;
    --accent-color: #b287a3;
    --background-color: #ebfffb;
    --font-family: "Lato", monospace;
    --font-size-normal: 18px;
    --font-size-big: 27px;
    --icon-size: 25px;
    --section-padding: 175px;
}
